@{
    ViewBag.Title = "About";
}
<div class="jumbotron mt-5 text-center">
    <h2 class="display-4">About Us</h2>
    <h5>@ViewBag.Message</h5>
    <br />
    <p>We are pioneer in pakistan to develope smart online Product exchange system. Salute Us!</p>
</div>