@{
    ViewBag.Title = "About";
}
    <div class="jumbotron mt-5 text-center">
        <h2 class="display-4">About Us</h2>
        <h5>@ViewBag.Message</h5>
        <br />
        <p>EPS System is Product Exchange System, in which after registration user had to put any Ad of his product, which
        he wants to get exchanged with other online availabe products.<br />
        EPS after getting user posted ad, will recommend other products Fall in the range of User Posted Product Price.</p>
        <p>We are pioneer in pakistan to develope smart online Product exchange system.</p>
        <p>Will Recommend Other Product Fall With in the Price Range of Posted User Ad</p>
    </div>