
@{
    ViewBag.Title = "AddProduct";
}

@section styles
{
    <style type="text/css">
        input, textarea, select {
            max-width: 100%;
        }
    </style>
}

<div class="jumbotron mt-5">
    <h2 class="text-center">Add Product</h2>
    <hr />
    @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { id = "adprdform", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>Item Name:</label>
            <input type="text" class="form-control" id="itemname" placeholder="Enter Item Name" name="itemname" required>
        </div>
        <div class="form-group">
            <label>Min Price <small class="text-danger"> * Add Price In Multiples of 50</small></label>
            <input type="number" class="form-control" id="minpr" placeholder="500" step="50" min="500" name="minpr" required>
        </div>

        <div class="form-group">
            <label>Max Price <small class="text-danger"> * Add Price In Multiples of 50</small></label>
            <input type="number" class="form-control" id="maxpr" placeholder="5000" step="50" min="5000" name="maxpr" required>
        </div>
        <div class="form-group">
            <label>Condition: <small class="text-danger"> * 3 - 10</small></label>
            <input type="number" min="3" max="10" class="form-control" id="name" placeholder="9" name="condition" required>
        </div>
        <div class="form-group">
            <label for="select">Category</label>
            @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewBag.categories, "- Category -", new { @class = "form-control", required = "required" })
        </div>
        <div class="form-group">
            <label>Description:</label>
            <textarea name="description" class="form-control" id="description" placeholder="Enter your Item Description Here!" required></textarea>
        </div>
        <div class="form-group">
            <label for="files">Item Pictures <small class="text-danger"> * Better to use images of same size</small></label>
            <br />
            <input class="form-control-file mt-2" id="images" name="images" type="file" multiple="multiple">
        </div>
        <div class="mt-4">
            <button class="btn btn-primary" type="submit">SUBMIT</button>
            <button id="resetform" class="btn btn-outline-danger" type="button">RESET</button>
        </div>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        var number = document.querySelector('#minpr');
        number.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || e.keyCode == 8)) {
                return false;
            }
        };
        var number2 = document.querySelector('#maxpr');
        number2.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || e.keyCode == 8)) {
                return false;
            }
        };

        $("#minpr, #maxpr").change(function (e) {
            var lil = parseInt($("#minpr").val(), 10);
            var big = parseInt($("#maxpr").val(), 10);
            if (lil > big) {
                var targ = $(e.target);
                if (targ.is("#maxpr")) {
                    alert("Maximum Price must be greater than Minimum Price");
                    $('#maxpr').val(0);
                }
                if (targ.is("#minpr")) {
                    alert("Minimum Price must be less than Maximum Price");
                    $('#minpr').val(0);
                }
            }
        });

        $("#resetform").click(function () {
            document.getElementById("adprdform").reset();
        });


    </script>
}
